html {
  width: 100%;
  max-width: 1366px;
  min-width: 768px;
  margin: 0 auto;
}

body {
  width: 100%;
  max-width: 1366px;
  min-width: 768px;
  margin: 0 auto;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  height: 1100px;
  width: 100%;
  max-width: 1366px;
  min-width: 768px;
  position: relative;
}

.menu {
  width: 100%;
  max-width: 1366px;
  min-width: 768px;
  height: 4rem;
  min-height: 1rem;
  margin: 0;
  padding: 0;
  background-color: #008c45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 2;
}

.menu-item {
  display: inline;
  margin: 0 30px;
  padding: 0px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #fff;
}

.menu-item-logo{
  position: fixed;
  right: 50px;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 2;
}

.menu-item:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu-item-link {
  -webkit-text-decoration-color: none;
          text-decoration-color: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #fff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu-item-link:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  min-width: 768px;
  height: 85%;
  position: relative;
}

.head-bg-img {
  z-index: -1;
  width: 100%;
  height: auto;
  min-height: 320px;
  min-width: 768px;
}

.head-bg-mask {
  position: absolute;
  width: 100%;
  height: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0px;
}

.head-bg-mask-0 {
  z-index: 1;
  width: 85px;
  height: 91px;
  left: 304px;
  bottom: 20px;
  position: absolute;
}

.head-bg-mask-1 {
  z-index: 1;
  width: 72px;
  height: 99px;
  right: 257px;
  bottom: -55px;
  position: absolute;
}

.hLogo {
  width: 105px;
  height: 91px;
  bottom: -60px;
  left: 46%;
  position: absolute;
}

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  max-width: 1366px;
  position: relative;
}

.title {
  text-align: center;
}

.word {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 99.5px;
  line-height: 1.1;
  letter-spacing: 9.95px;
  font-weight: 1000;
  color: #000;
}

.green {
  color: #008d3d;
}

.red {
  color: #df1829;
}

.title-text {
  width: 729px;
  height: 76px;
  font-family: 'Roboto';
  font-size: 33.5px;
  font-weight: 600;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.title-bg-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  z-index: -1;
}

.title-bg-mask-0 {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: -1;
}

.title-bg-mask-1 {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: -1;
}

.title-bg-mask-2 {
  position: absolute;
  top: 480px;
  right: 320px;
  z-index: -1;
}

.title-bg-mask-3 {
  position: absolute;
  top: 520px;
  right: 280px;
  z-index: -1;
}

.more-info {
  width: 427px;
  height: 113px;
  background-color: #bf1e2d;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 75px auto 0px auto;
  font-family: 'Roboto';
  font-size: 33.5px;
  font-weight: normal;
  font-style: normal;
  line-height: 3.3;
  letter-spacing: 16.42px;
  text-align: center;
  color: #ffffff;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.more-info:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1366px;
  position: relative;
  margin-top: 100px;
}

.menu-section-bg {
  position: relative;
  width: 100%;
  max-width: 1366px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-bg-img {
  position: absolute;
  width: 100%;
  max-width: 1366px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  z-index: 0;
}

.menu-bg-mask-0 {
  position: absolute;
  width: 100%;
  max-width: 1366px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: -115px;
  left: 0;
  z-index: 1;
}

.menu-bg-mask-1 {
  position: absolute;
  width: 100%;
  max-width: 1366px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  bottom: -160px;
  left: 0;
  z-index: 1;
}

.menu-title-text {
  font-family: 'Roboto Condensed';
  font-size: 75px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: 7.5px;
  color: #ffffff;
  z-index: 1;
}

.menu-list {
  display: -ms-grid;
  display: grid;
  width: 100%;
  position: relative;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  top: 100px;
  z-index: 1;
}

.list-antipasti {
  -ms-grid-row: 1;
      grid-row-start: 1;
      grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.list-meat {
  -ms-grid-row: 2;
      grid-row-start: 2;
      grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.list-pasta {
  -ms-grid-row: 3;
      grid-row-start: 3;
      grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.list-pizza {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.list-drink {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.list {
  padding: 0px;
}

.list li {
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-item, .list-price {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: 1.02px;
  text-align: left;
}

.list-title {
  font-family: 'Roboto Condensed';
  font-size: 39px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.68;
  letter-spacing: 5.07px;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  cursor: pointer;
}

.list-title-show {
  display: none;
  font: normal;
  font-size: 20px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.68;
  letter-spacing: 5.07px;
  text-align: center;
  justify-self: flex-end;
  transform: rotate(45deg);
  cursor: pointer;
}

.list-pasta .list-title-line {
  margin-top: 5px;
}

.list-pizza .list-title-line {
  margin-top: 5px;
}

.list-drink .list-title-line {
  margin-top: 5px;
}

.list-title-line {
  width: 100%;
  height: 1px;
  background-color: #008c45;
}

.order-section {
  width: 100%;
  max-width: 1366px;
  height: auto;
  position: relative;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-info {
  position: relative;
  width: 100%;
  max-width: 1366px;
  height: auto;
}

.order-custom-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 380px;
  min-width: 360px;
  min-height: 160px;
  border: 3px solid #df1829;
  border-radius: 7px;
  margin: 0 auto;
  padding: 0;
}

.order-custom-button-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 360px;
  min-height: 160px;
  height: 100%;
  margin: 5px;
  padding: 0px;
  border: 3px solid #008d3d;
  border-radius: 7px;
}

.order-custom-button-title {
  font-family: 'Roboto Condensed';
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: 0.7px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.order-custom-button-phone {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 100;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: 0.7px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #000;
}

.order-custom-button-phone:visited{
  color: #000;
}

.order-info-bg-mask-0 {
  position: absolute;
  top: 106px;
  right: 295px;
  z-index: 1;
}

.order-info-bg-mask-1 {
  position: absolute;
  top: 419px;
  right: 475px;
  z-index: 1;
}

.order-info-bg-mask-2 {
  position: absolute;
  top: 285px;
  left: 202px;
  z-index: 1;
}

.order-info-bg-mask-3 {
  position: absolute;
  top: 144px;
  left: 239px;
  z-index: 1;
}

.order-info-bg-mask-4 {
  position: absolute;
  top: 144px;
  left: 332px;
  z-index: 1;
}

.order-info-bg-mask-5 {
  position: absolute;
  top: 71px;
  left: 78px;
  z-index: 1;
}

.order-info-bg-mask-6 {
  position: absolute;
  top: 53px;
  right: 0px;
  z-index: 1;
}

.order-info-bg-mask-7 {
  position: absolute;
  top: 355px;
  right: 387px;
  z-index: 1;
}

.order-bg-mask {
  position: relative;
  margin-top: 250px;
  width: 100%;
  max-width: 1366px;
  height: 964px;
}

.order-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1366px;
  height: max-content;
  z-index: -1;
}

.order-bg-mask-0 {
  position: absolute;
  width: 100%;
  max-width: 1366px;
  height: fit-content;
  top: -120px;
  left: 0;
  z-index: 0;
}

.order-bg-mask-1 {
  position: absolute;
  width: 100%;
  max-width: 1366px;
  height: fit-content;
  bottom: -160px;
  left: 0;
  z-index: 0;
}

.info-section {
  position: relative;
  width: 100%;
  max-width: 1366px;
  height: auto;
  max-height: 940px;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  width: 100%;
  max-width: 1366px;
  height: 940px;
}

.info-title {
  width: 100%;
  text-align: center;
}

.info-title-string {
  font-size: 83.5px;
  letter-spacing: 1px;
  margin: 0px 4px;
}

.info-text-container {
  text-align: center;
}

.info-text {
  width: 729px;
  font-family: 'Roboto';
  font-size: 33.5px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: normal;
  text-align: center;
  color: #373b37;
}

.info-text-visit {
  font-family: 'Roboto Condensed';
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.33;
  letter-spacing: 4px;
  text-align: center;
  color: #000;
}

#btn-sec-info {
  margin: 0 0;
}

.info-bg-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1366px;
  height: 940px;
  z-index: -1;
}

.info-bg-mask-0 {
  position: absolute;
  top: 55px;
  right: 0px;
}

.info-bg-mask-1 {
  position: absolute;
  top: 66px;
  left: 0;
}

.info-bg-mask-2 {
  position: absolute;
  bottom: 36px;
  left: 226px;
}

.info-bg-mask-3 {
  position: absolute;
  bottom: 188px;
  left: 263px;
}

.info-bg-mask-4 {
  position: absolute;
  bottom: 107px;
  left: 356px;
}

.info-bg-mask-5 {
  position: absolute;
  bottom: 175px;
  left: 102px;
}

.info-bg-mask-6 {
  position: absolute;
  bottom: 129px;
  right: 184px;
}

.info-bg-mask-7 {
  position: absolute;
  bottom: 281px;
  right: 222px;
}

.info-bg-mask-8 {
  position: absolute;
  bottom: 200px;
  right: 314px;
}

.info-bg-mask-9 {
  position: absolute;
  bottom: 269px;
  right: 61px;
}

.disc-section {
  width: 100%;
  max-width: 1366px;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.disc-info {
  position: relative;
  width: 100%;
  max-width: 1366px;
  height: auto;
}

.disc-container {
  height: 790px;
  width: 100%;
  max-width: 1366px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.disc-custom-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 380px;
  min-width: 360px;
  min-height: 160px;
  border: 3px solid #df1829;
  border-radius: 7px;
  margin: 25px auto;
}

.disc-custom-button-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 360px;
  min-height: 160px;
  margin: 5px;
  border: 3px solid #008d3d;
  border-radius: 7px;
}

.disc-custom-button-title {
  font-family: 'Roboto Condensed';
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: 0.7px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #000;
}

.disc-bg-mask {
  position: relative;
  width: 100%;
  max-width: 1366px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disc-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  max-width: 1366px;
  z-index: -1;
}

.disc-bg-mask-0 {
  position: absolute;
  width: 100%;
  max-width: 1366px;
  height: fit-content;
  top: -120px;
  left: 0;
  z-index: 0;
}

.disc-bg-mask-1 {
  position: absolute;
  width: 100%;
  max-width: 1366px;
  bottom: -160px;
  height: fit-content;
  left: 0;
  z-index: 0;
}

.disc-title-text {
  font-family: 'Roboto Condensed';
  font-size: 75px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: 7.5px;
  color: #ffffff;
  z-index: 1;
}

.disc-info-bg-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1366px;
  height: 100%;
  z-index: -1;
}

.disc-info-bg-mask-0 {
  position: absolute;
  top: 106px;
  left: 204px;
  z-index: 1;
}

.disc-info-bg-mask-1 {
  position: absolute;
  top: 168px;
  left: 266px;
  z-index: 1;
}

.disc-info-bg-mask-2 {
  position: absolute;
  top: 170px;
  left: 356px;
  z-index: 1;
}

.disc-info-bg-mask-3 {
  position: absolute;
  top: 32px;
  left: 281px;
  z-index: 1;
}

.disc-info-bg-mask-4 {
  position: absolute;
  top: 89px;
  right: 0px;
  z-index: 1;
}

.disc-info-bg-mask-5 {
  position: absolute;
  top: 225px;
  left: 0px;
  z-index: 1;
}

.disc-text {
  max-width: 900px;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.5px;
  text-align: center;
  color: #373b37;
}

.disc-text-offer {
  max-width: 900px;
  font-family: 'Roboto Condensed';
  font-size: 75px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  color: #000;
}

.form {
  min-width: 480px;
  max-width: 1366px;
  width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-disc {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  height: 63px;
  border: solid 2px #bf1e2d;
  border-radius: 25px;
  outline: none;
  padding: 0px 15px;
  margin: 0;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.5px;
}

.btn-subscribe-disc {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 3;
  height: 67px;
  border-radius: 25px;
  border: none;
  background-color: #bf1e2d;
  color: #fff;
  outline: none;
  padding: 5px;
  margin: 0px 0px 0px -45px;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.5px;
}

footer {
  height: 600px;
  width: 100%;
  max-width: 1366px;
  min-width: 768px;
  background-color: #008c45;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  color: #fff;
  margin: 0px 100px;
}

.footer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 50px;
}

.footer-title_logo {
  font-size: 50px;
  color: #fff;
  font-family: 'Roboto Condensed';
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.7px;
  text-align: center;
  -webkit-filter: invert(0);
          filter: invert(0);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.footer-title_logo:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.footer-title_text {
  margin-top: 25px;
  font-size: 23.5px;
  font-style: Roboto;
  color: #fff;
}

.footer-list {
  font-size: 23.5px;
  font-style: Roboto;
  color: #fff;
  list-style-type: none;
  padding: 0;
}

.footer-list-title {
  font-size: 30px;
  color: #fff;
  padding-bottom: 20px;
}

.footer-list-item {
  margin-bottom: 10px;
}

.footer-list-item:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.footer-list-item a {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.footer-list-item a:visited {
  color: #ffffff;
}

.modal{
  max-width: 400px;
  max-height: 300px;
  min-width: 300px;
  min-height: 210px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: none;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  z-index: 2;
}

.modal-block{
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.modal-logo{
  width: 100%;
  display: flex;
  height: 70px;
  justify-content: center;
  background:linear-gradient(to right, #009246 0, #009246 33%, #FFF 33%, #FFF 66%, #ce2b37 66%, #ce2b37 100%); 
  border-radius: 5px;
  
}

.modal-logo_image{
  max-width: 70px;
  max-height: 70px;
}

.modal-message{
  display: grid;
  width: 100%;
  height: 100px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.modal-message_title{
  padding: 0;
  margin: 5px 0px;
  color: #000000;
  font-family: 'Roboto Condensed';
  text-align: center;
}

.modal-message_text{
  padding: 0;
  margin: 2px 0px;
  color: #000000;
  font-family: 'Roboto Condensed';
  text-align: center;
}

.modal-submit{
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 10px 0px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #d9d9d9;

}

.modal-submit:hover{
  background: #b8b8b8;
}

.msg{
  position: relative;
  top: 10px;
  margin: 0px auto;
  background: #fff;
  width: 100%;
  height: 50px;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
}

.msg-text{
  font-family: 'Roboto Condensed';
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.5px;
  color: #121212;
  text-align: center;
  display: none;
}

.clicked {
  -webkit-animation: clicking 0.25s;
          animation: clicking 0.25s;
}

@-webkit-keyframes clicking {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  49% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  51% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes clicking {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  49% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  51% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@media screen and (max-width: 768px) {
  .menu-title-text {
    font-size: 55px;
  }

  
}

@media screen and (max-width: 1100px) {
  .menu-item {
    margin: 0px 15px;
  }

  .menu-item-link {
    font-size: 18px;
  }

  .menu-list {
    grid-template-columns: auto ;
    grid-template-rows: repeat(5, auto);
  }

  .list-antipasti {
    -ms-grid-row: 1;
      grid-row-start: 1;
    -ms-grid-column: 1;
      grid-column-start: 1;
  }

  .list-meat {
    -ms-grid-row: 2;
      grid-row-start: 2;
    -ms-grid-column: 1;
      grid-column-start: 1
  }

  .list-pasta {
    -ms-grid-row: 3;
      grid-row-start: 3;
    -ms-grid-column: 1;
      grid-column-start: 1;
  }

  .list-pizza {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }

  .list-drink {
    -ms-grid-row: 5;
        grid-row-start: 5;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }

  .list-title{
    border: 1px solid black;
  }

  .list-title-line {
    display: none;
  }

  .list-title-show{
    display: block;
  }

  .list-title ~ li {
    display: none;
  }

  .order-bg-mask {
    display: none;
  }

  .order-bg-mask-1 {
    display: none;
  }

  .order-bg-mask-2 {
    display: none;
  }

  .order-bg-img {
    display: none;
  }

  .disc-title-text{
    font-size: 55px;
  }

  .order-info-bg-mask{
    display: none;
  }

  .order-info-bg-mask img{
    display: none;
  }

  .disk-bg-mask {
    display: none;
  }

  .info-bg-mask {
    display: none;
  }

  .info-container{
    display: none;
  }

  .head-bg-mask{
    display: none;
  }

  .section {
    top: -500px;
  }

  .footer {
    margin-top: -400px;
  }

  .footer-container {
    justify-items: center;
    -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-title {
    display: none;
  }

  .menu-item-logo{
    display: none;
  }
}
